@using Microsoft.AspNetCore.Identity
@* @inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
 *@


<style>
    body {
        font-family: Arial;
        margin: 0;
        background: #f4f6f9;
    }

    header {
        background: #0f172a;
        color: white;
        padding: 20px;
        text-align: center;
    }

    .container {
        max-width: 900px;
        margin: auto;
        padding: 20px;
    }

    .card {
        background: white;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 15px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    }

    .status {
        display: inline-block;
        padding: 6px 10px;
        background: #fbbf24;
        border-radius: 5px;
        font-weight: bold;
    }

    button {
        margin-top: 15px;
        padding: 10px 15px;
        background: #2563eb;
        color: white;
        border: none;
        border-radius: 6px;
        cursor: pointer;
    }
</style>


<body>

    <header>
        <h1>PDP Submissions</h1>
    </header>

    <div class="container">

        <div class="card">

            <p><strong>Department:</strong> ICT</p>
            <p><strong>Training:</strong> Data Analytics</p>
            <span class="status">Pending</span>
        </div>
        <div class="card">
            <p><strong>Department:</strong> Operations</p>
            <p><strong>Training:</strong> Data Analytics</p>
            <span class="status">Accepted</span>
        </div>

        <div class="card">

            <p><strong>Department:</strong> HR</p>
            <p><strong>Training:</strong> Leadership Development</p>
            <span class="status">Pending</span>
        </div>

        <button onclick="goHome()">Back to Dashboard</button>

    </div>

    <script>
        //redirect to the landing page which will show the total number of submissions after you have submitted your PDP
        function goHome() {
          window.location.href = "Index.html";
        }
    </script>

</body>